---
---

<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="refresh" content="0;url=/ca/" />
        <title>Drac de Vilafranca del Penedès</title>
    </head>
    <body>
        <p>
            Redirigint a <a href="/ca/">/ca/</a>...
        </p>
    </body>
</html>
