---
interface Props {
    title: string
    supertitle?: string
    subtitle?: string
}

const { title, supertitle, subtitle } = Astro.props
---

<div class="mb-10">
    {supertitle && (
        <p class="text-sm text-text-muted mb-2">{supertitle}</p>
    )}
    <h1 class:list={['text-4xl md:text-5xl font-display font-bold text-text', subtitle && 'mb-4']}>{title}</h1>
    {subtitle && (
        <p class="text-text-muted leading-relaxed">{subtitle}</p>
    )}
</div>
